FIREBASE_DATABASE_URL=
FIREBASE_PRIVATE_KEY=
FIREBASE_SERVICE_ACCOUNT_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_CLIENT_EMAIL=
FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY_ID=
FIREBASE_SERVICE_ACCOUNT_CLIENT_ID=
SERVICE_ACCOUNT_JSON=
DISCORD_CLIENT_ID=
DISCORD_LARGE_IMAGE_KEY=
DISCORD_SMALL_IMAGE_KEY=
DISCORD_RPC_CONFIG_URL=
